
.title{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #0594c7;

    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
}
.small_title{
    width: 100%;
    border: 1px solid lightgray;
    height: 40px;
    color: #0594c7;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 5px;
}
.list_link li{
    border-bottom: 1px solid white;
    padding: 5px;
}
.list_link li:hover{
    background: darkgray;
}
